* {
  margin: 0;
  padding: 0;
}
.rectangle1 {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-content: center;
  justify-content: center;
  background-size: contain;
  background-position: center;
  /* background-repeat: no-repeat; */
  background-image: url(./Images/fashion-hub.jpeg);
  opacity: 0.5;
}
.hub {
  width: 10vw;
  height: 22vh;
  border-radius: 100px;
  transform: rotate(30.87deg);
  margin: 34vh;
  position: relative;
  left: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo{
  border: 8px solid rgba(239, 200, 177, 0.81);
  height: 22vh;
  width: 10vw;
  border-radius: 100px;
  transform: rotate(-30.87deg);
}
h5 {
  background: #efc8b1c2;
  height: 3vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  gap: 10px;
  position: relative;
  right: 20vw;
  bottom: 30vh;
}
.button {
  display: flex;
}
#home {
  display: flex;
  height: 5vh;
  background: rgba(81, 70, 68, 1);
  border-radius: 10px;
  padding: 10px;
  align-items: center;
  justify-content: center;
  color: rgba(239, 200, 177, 1);
  text-decoration: none;
}

#home:hover {
  color: chocolate;
}

/* mobile responsiveness */

@media (max-width:900px) {
  .hub {
    position: relative;
    left:8vw;
    height: 20vh;
    border-radius: 50%;
    transform: rotate(30.87deg);
    margin: 38vh;
  }
  .logo {
    height: 20vh;
    width: 35vw;
    border-radius: 50%;
    transform: rotate(-30.87deg);
    cursor: pointer;
    border: 10px solid rgba(239, 200, 177, 1);
  }
  h5 {
    display: flex;
    align-items: center;
    justify-content: start;
    position: relative;
    right: 25vw;
    top: 9vh;
    font-size: 18px;
    width: 30vw;
    padding: 25px;
  }
  .homepage {
    right:60vw;
    bottom: 27vh;
  }
  .button {
    position: inherit;
    top: 9vh;
    left: 15vw;
    gap: 10px;
  }
  #home {
    position: relative;
    right: 40vw;
    background: rgba(81, 70, 68, 1);
    border-radius: 10px;
    padding: 25px;
    color: rgba(239, 200, 177, 1);
  }
}
